<main>
  <h1>Products</h1>
  <form action="/product" method="GET">
    <input type="text" class="search" name="search" placeholder="Search...">

    <input type="submit" value="search">
  </form>
  <div>

    {{#each products}} 
      <div class="cube" action="/product" method="GET">
      <a href="/details/:{{_id}}"><p class="name">{{productName}}</p></a>
      <p><span><b>Product Type:</b></span> {{productType}}</p>
      <p><span><b>Quantity:</b></span> {{quantity}}</p>
      <p><span><b>Product Price:</b></span> {{price}}</p>
      <p><span><b>Vendor:</b></span> {{vendor}}</p>
      {{!-- <p><span>Product description</span> {{description}}</p> --}}
      {{!-- <p><span>Product id</span> {{_id}}</p> --}}
      {{!-- <a class="btn" href="/details/{{_id}}">Details</a> --}}

    </div>
    {{else}}
    <div class="cube">
      <p class="name">NO PRODUCTS WERE FOUND</p>
      <p>Click here to add ther first product</p>
      <a class="btn" href="/create/product">New Product</a>
    </div>
    {{/each}}
  </div>

</main>